@import "milligram";

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Apple Gothic","돋움",Dotum,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1.page_title {
  font-weight: 600;
  color: $color-primary;
  padding-top: 8rem;
}

.button.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}

.ipsum_result_container {
  display: none;
}

#ipsum_result {
  padding: 1rem 1.5rem;
  background: $color-tertiary;
}

.share_buttons {
  padding-top: 1rem;
  iframe {
    vertical-align: middle;
  }

  .share_button {
    font-size: 1px;
  	display: inline-block;
  	width: 110px;
    &.twitter {
      width: 70px;
    }
    &.google {
    	width: 75px;
    }
  }
}

footer {
  padding-top: 1rem;
}
