/*
 *= require bootstrap
*/
@import 'bourbon';

body {
  font-family: 나눔고딕, 맑은 고딕, 돋움;
}

.container {
  position: relative;
  .content {
    header.page-header {
      padding: 80px 0px;
      h1 {
        text-align: center;
        font-size: 70px;
        line-height: 70px;
        small {
          display: block;
          margin-top: 1em;
        }
      }
      .share_buttons {
        position: absolute;
        top: 1em;
        right: 1em;
        .share_button {
          float: left;
          margin-left: .5em;
          &.google {
            margin-top: 2px;
          }
        }
      }
    }
    .ipsum_result_container {
      display: none;
    }
  }
  footer {
    p {
      text-align: center;
    }
  }
}
