<!DOCTYPE html>
<html>
<head>
  <title>한글입숨</title>
  <meta property="og:title" content="한글입숨"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://hangul.thefron.me"/>
  <meta property="og:image" content=""/>
  <meta property="og:site_name" content="한글입숨"/>
  <meta property="fb:admins" content="100000800851255"/>
  <meta property="og:description" content="Lorem Ipsum의 한글 버전"/>
  <%= stylesheet_link_tag    "home" %>
  <%= javascript_include_tag "home" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="content">
      <header class="page-header">
      <h1>
        한글입숨
        <small>여러분이 필요했던 바로 그..</small>
      </h1>
      </header>
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <footer>
      <p>
        Powered by <a href="http://thefron.me" target="_blank">Thefron</a>
      </p>
    </footer>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26626211-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
</body>
</html>
