<!DOCTYPE html>
<html>
<head>
  <title>한글입숨</title>
  <meta property="og:title" content="한글입숨 - 무의미한 한글 텍스트 생성기"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://hangul.thefron.me"/>
  <meta property="og:image" content=""/>
  <meta property="og:site_name" content="한글입숨"/>
  <meta property="fb:admins" content="100000800851255"/>
  <meta property="og:description" content="한글판 로렘입숨. 무의미한 한글 텍스트를 생성해 줍니다."/>
  <meta name="description" content="한글판 로렘입숨. 무의미한 한글 텍스트를 생성해 줍니다."/>
  <meta name="keyword" content="한글, 로렘입숨, lorem ipsum, 한글입숨"/>
  <link rel="canonical" href="http://hangul.thefron.me/">
  <%= stylesheet_link_tag    "home" %>
  <%= javascript_include_tag "home" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="content">
      <header class="page-header">
        <h1>
          한글입숨
          <small>무의미한 한글 텍스트 생성기입니다.</small>
        </h1>
        <div class="share_buttons">
          <div class="share_button twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="한글 버전의 Lorem Ipsum" data-count="vertical" data-via="thefron" data-lang="en" data-url="http://hangul.thefron.me">트윗하기</a>
          </div>
          <div class="share_button google">
            <g:plusone size="tall" href="http://hangul.thefron.me"></g:plusone>
          </div>
          <div class="share_button facebook">
            <div class="fb-like" data-href="http://hangul.thefron.me" data-send="false" data-layout="box_count" data-width="55" data-show-faces="false"></div>
          </div>
        </div>
      </header>
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <footer>
      <p>
        Powered by <a href="http://thefron.me" target="_blank" rel="author">Thefron</a>
      </p>
    </footer>
  </div>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=178809282203022";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    {lang: 'ko'}
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26626211-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
</body>
</html>
